@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;

}
:root{
 --black:#000000;
 --dark-green:#1b6270;
 --orange:#f86313; 
 --color: #1f91bb;
 background: linear-gradient
 
linear-gradient



}
.background-VERDE{
 background:var(--color);
} 
.container{
      max-width: 1400px;
     padding: 0 5%;
     margin: 0 auto;
    }
 section,
 footer{
    padding: 2.7rem 0;

 }
.BTN-GRADIENTE{
   padding: 10px 25px;
   color: white;
   border: none;
   cursor: pointer;
 background-color: #f86313;
} 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20PX 0;  
}
.LOGO{
    font-size: 40PX;
     font-weight: bold;
     color: white;
}
.UL{
    display: flex;
    align-items: center;
}
.UL LI{
   margin: 0 35px;
   font-size: 15PX;
}
UL LI a{
  color: white;
}
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.main-text{
    width: ;
    color: white;
}
.main-text h1{
    font-size: 4.5rem;
}
.main-text div {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.main-img {
  width: -0.9px;
}
.main-img{
    width: 100%;
}
.menu-icon{
        display:none;
        position: relative;
        z-index: 10px;
}
.resultados{
      background-color: #f86313;
}
.RESULTADOS .CONTEINER{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.RESULTADOS .resultados-text{
    color: white;
     font-size: 1.6rem;
     font-weight: 600;
     width: 50%;
}
.RESULTADOS .resultados-numericos{
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   margin: 20px;
}
.RESULTADOS .resultados-numericos p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}
.RESULTADOS .resultados-numericos p span{
    font-size: 30px;
    font-weight: 600;
}

@media(MAX-WIDTH:960PX) {
    .menu-icon{
        display:block;
}
.ul{
  position: fixed;
  background: var(--color);
  top: 0;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: 0.3s;
  flex-direction: column;
  justify-content: center;
}
.ul li {
    font-size: 20px;
    margin: 20px 0;
}
.ul.ativo {
    left: 0%;
}
main .container{
  flex-direction: column;
}
 main .container .main-img,
 main .container .main-text{
    width: 100%;
    text-align: center;
 }
 main .container .main-text h1{
     font-size: 4rem;
 }
 main .container .main-text div{
    justify-content: center;
 }
 .resultados .container{
     flex-direction: column;
 }
}