@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;

}
:root{
 --black:#000000;
 --dark-green:#1b6270;
 --orange:#f86313; 
 --color: #1f91bb;
 background: linear-gradient
 
linear-gradient



}
.background-VERDE{
 background:var(--color);
} 
.container{
      max-width: 1400px;
     padding: 0 5%;
     margin: 0 auto;
    }

.BTN-GRADIENTE{
   padding: 10px 25px;
   color: white;
   border: none;
   cursor: pointer;
 background-color: #f86313;
} 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20PX 0;  
}
.LOGO{
    font-size: 40PX;
     font-weight: bold;
     color: white;
}
.UL{
    display: flex;
    align-items: center;
}
.UL LI{
   margin: 0 35px;
   font-size: 15PX;
}
UL LI a{
  color: white;
}
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.main-text{
    width: ;
    color: white;
}
.main-text h1{
    font-size: 4.5rem;
}
.main-text div {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.main-img {
  width: -0.9px;
}
.main-img{
    width: 100%;
}
.menu-icon{
        display:none;

}